
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
}
.item{
   height:100px;
   width:100px;
}
.box1{
	background-color:green;
}
.box2{
	background-color:red;
}
.box3{
	background-color:blue;
}